.background {
  background-image: url("/svgs/abstract-chart.svg");
  background-position-x: center;
  background-position-y: calc(100% - 30px);
  background-repeat: no-repeat;
  background-size: 101% auto;
}
