.layout {
  grid-template:
    "top side" min-content
    "mid side" 1fr
    "bottom side" 2fr / 1fr 25%;
}

.location {
  grid-area: top;
}

.status {
  grid-area: mid;
}

.icon {
  grid-area: side;
}

.icon svg {
  width: 100%;
}

.temprature {
  grid-area: bottom;
}
